<div class="row company-stats">
		<div class="small-12 medium-4 column goal-logo"><img src="images/explorers/1.png" width="192" height="256"> <em>Mount Everest</em></div>
		<div class="small-6 medium-4 column"><div class="company-step-count">{{chartData.total | number}} <span>steps made</span></div></div>
		<div class="small-6 medium-4 column"><div class="goal-count">50,000 <span>required</span></div></div>
</div>

<div class="hero">
 <canvas class="chart" id="myChart" width="800" height="410" topchart chartdata="chartData"></canvas></div>

<div class="panel awards">
        <ul class="small-block-grid-3 medium-block-grid-6 award-badges">
          <li><img src="images/explorers/1.png" width="128" height="128"> <!--<span>Sir Edmund Hilary</span>--></li>
          <li><img src="images/explorers/2.png" width="128" height="128"> <!--<span>Neil Armstrong</span>--></li>
          <li><img src="images/explorers/3.png" width="128" height="128"> <!--<span>Ferdinand Magellen</span>--></li>
          <li><img src="images/explorers/4.png" width="128" height="128"> <!--<span>Charles Lindbergh</span>--></li>
          <li><img src="images/explorers/5.png" width="128" height="128"> <!--<span>Captain James Cook</span>--></li>
          <li><img src="images/explorers/6.png" width="128" height="128"> <!--<span>Vasco da Gama</span>--></li>
        </ul>

</div>

<table class="user-stats">
	<thead>
		<td>Badge Awarded</td>
		<td>User</td>
		<td>Acitivity Overview</td>
		<td>Steps</td>
  <tbody>
    <tr>
      <td><img src="images/explorers/1.png" width="64" height="64"></td>
      <td>Richard Saunders</td>
      <td><canvas id="myChart" width="200" height="30" class="sparkline" data-chart_values="[28,48,40,19,96,27,100,36,46,75,25,77,44,73,92,35,64,23,46,57,86,33,56,86,34,57,56,34,87,88]" data-chart_StrokeColor="rgba(51, 51, 51, 1)"></canvas></td>
      <td class="user-stats_steps">10000</td>
    </tr>
    <tr>
      <td><img src="images/explorers/2.png" width="64" height="64"></td>
      <td>Scott Yearsley</td>
      <td><canvas id="myChart" width="200" height="30" class="sparkline" data-chart_values="[22,88,56,97,89,67,79,35,68,64,68,24,96,85,96,36,47,25,58,37,74,74,85,36,25,36,74,85,74,96]" data-chart_StrokeColor="rgba(51, 51, 51, 1)"></canvas></td>
      <td class="user-stats_steps">7500</td>
    </tr>
    <tr>
      <td><img src="images/explorers/3.png" width="64" height="64"></td>
      <td>Ryan Bromley</td>
      <td><canvas id="myChart" width="200" height="30" class="sparkline" data-chart_values="[94,47,96,58,47,63,47,52,85,74,58,63,85,63,74,58,25,58,69,74,85,74,63,58,69,63,58,47,58,69,47]" data-chart_StrokeColor="rgba(51, 51, 51, 1)"></canvas></td>
      <td class="user-stats_steps">7300</td>
    </tr>
        <tr>
      <td><img src="images/explorers/4.png" width="64" height="64"></td>
      <td>John Lewis</td>
      <td><canvas id="myChart" width="200" height="30" class="sparkline" data-chart_values="[75,86,47,85,96,96,85,96,58,96,75,3,75,69,57,6,96,47,68,97,68,75,79,67,75,86,97,67,79,86]" data-chart_StrokeColor="rgba(51, 51, 51, 1)"></canvas></td>
      <td class="user-stats_steps">2500</td>
    </tr>
        <tr>
      <td><img src="images/explorers/5.png" width="64" height="64"></td>
      <td>Dan Banham</td>
      <td><canvas id="myChart" width="200" height="30" class="sparkline" data-chart_values="[65,68,45,86,5,85,67,67,97,86,75,68,57,86,97,57,86,35,75,86,97,68,57,86,57,68,97,68,57,86]" data-chart_StrokeColor="rgba(51, 51, 51, 1)"></canvas></td>
      <td class="user-stats_steps">1000</td>
    </tr>
  </tbody>
</table>
