<div class="row company-stats">
		<div class="small-12 medium-4 column goal-logo"><img src="images/explorers/1.png" width="192" height="256"> <em>Mount Everest</em></div>
		<div class="small-6 medium-4 column"><div class="company-step-count">20,000 <span>steps made</span></div></div>
		<div class="small-6 medium-4 column"><div class="goal-count">50,000 <span>required</span></div></div>
</div>

<div class="hero">
 <canvas class="chart" id="myChart" width="800" height="410" topchart></canvas></div>

<div class="panel awards">
        <ul class="small-block-grid-3 medium-block-grid-6 award-badges">
          <li><img src="images/explorers/1.png" width="128" height="128"> <!--<span>Sir Edmund Hilary</span>--></li>
          <li><img src="images/explorers/2.png" width="128" height="128"> <!--<span>Neil Armstrong</span>--></li>
          <li><img src="images/explorers/3.png" width="128" height="128"> <!--<span>Ferdinand Magellen</span>--></li>
          <li><img src="images/explorers/4.png" width="128" height="128"> <!--<span>Charles Lindbergh</span>--></li>
          <li><img src="images/explorers/5.png" width="128" height="128"> <!--<span>Captain James Cook</span>--></li>
          <li><img src="images/explorers/6.png" width="128" height="128"> <!--<span>Vasco da Gama</span>--></li>
        </ul>

</div>

<table class="user-stats">
	<thead>
		<td>Badge Awarded</td>
		<td>User</td>
		<td>Acitivity Overview</td>
		<td>Steps</td>
  <tbody>
    <tr>
      <td><img src="images/explorers/1.png" width="64" height="64"></td>
      <td>Richard Saunders</td>
      <td>SparkLine Goes Here</td>
      <td class="user-stats_steps">10000</td>
    </tr>
    <tr>
      <td><img src="images/explorers/2.png" width="64" height="64"></td>
      <td>Scott Yearsley</td>
      <td>SparkLine Goes Here</td>
      <td class="user-stats_steps">7500</td>
    </tr>
    <tr>
      <td><img src="images/explorers/3.png" width="64" height="64"></td>
      <td>Ryan Bromley</td>
      <td>SparkLine Goes Here</td>
      <td class="user-stats_steps">7300</td>
    </tr>
        <tr>
      <td><img src="images/explorers/4.png" width="64" height="64"></td>
      <td>John Lewis</td>
      <td>SparkLine Goes Here</td>
      <td class="user-stats_steps">2500</td>
    </tr>
        <tr>
      <td><img src="images/explorers/5.png" width="64" height="64"></td>
      <td>Dan Banham</td>
      <td>SparkLine Goes Here</td>
      <td class="user-stats_steps">1000</td>
    </tr>
  </tbody>
</table>
