<h2>Add User</h2>
<form>
  <div class="row">
    <div class="medium-4 columns">
      <label>Firstname
        <input type="text" placeholder="Enter your firstname" />
      </label>
    </div>
    <div class="medium-4 columns">
      <label>Surname
        <input type="text" placeholder="Enter your surname" />
      </label>
    </div>
    <div class="medium-4 columns">
      <label>Email Address
        <input type="text" placeholder="Enter your email address" />
      </label>
    </div>
    <a role="button" aria-label="submit form" href="#" class="button">Submit</a>
  </div>
 </div>