<!doctype html>
<html class="no-js" lang="en" ng-app="comotionApp">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>co-motion: healthy competition - create an account</title>
    <link rel="stylesheet" href="./css/app.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>


  </head>
  <body ng-controller="mainController">

  <div class="row create-user">
      <div class="medium-4 small-centered columns">

          <img src="images/co-motion-logo.png" width="200" height="165" class="create-user-logo">
          <label>
              Firstname
              <input type="text" placeholder="Enter your firstname" ng-model="firstname" />
          </label>

          <label>
              Surname
              <input type="text" placeholder="Enter your surname" ng-model="surname" />
          </label>

          <label>
              Email Address
              <input type="text" placeholder="Enter your email address" ng-model="email" />
          </label>

          <button aria-label="submit form" href="#" class="button create-user-button" ng-click="create()">Submit</button>

      </div>

  </div>


    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/topchart.js"></script>
    <script src="js/sparklines.js"></script>


  </body>
</html>
