# Daily achievements

IF total steps between 0 AND 6180 THEN achievment == "Scafell Pike"
IF total steps between 6181 AND 7120 THEN achievment == "Snowdon"
IF total steps between 7121 AND 8810 THEN achievment == "Ben Nevis"
IF total steps between 8811 AND 30420 THEN achievment == "Mont Blanc"
IF total steps between XX AND XX THEN achievment == "XX"
IF total steps between XX AND XX THEN achievment == "XX"
IF total steps between XX AND XX THEN achievment == "XX"
IF total steps between XX AND XX THEN achievment == "XX"
IF total steps between XX AND XX THEN achievment == "XX"
IF total steps between XX AND XX THEN achievment == "XX"
